# Data Wrangling

**Welcome to the Data Wrangling Notebook!**

The notebook showcases the power of Python to scrape data from the internet. We will use the libraries `pandas` and `matplotlib` to do the following session and exercises.

**Note: This is not a definitive guide.**

## What is Data Wrangling?
Data wrangling is the process of cleaning, organizing, structuring, and enriching raw data to make it more accessible and useful for analysis and visualization purposes. It involves converting and plotting data from one "raw" form into another to make it ready for downstream analytics. Data wrangling is becoming increasingly necessary due to the rapid expansion of the amount of data and data sources available today. It involves removing errors and combining complex data sets to make them more accessible and easier to analyze. The wrangling process encompasses all the practices used to ensure that data is high quality and useful for analytics.

### Domain Driven Data Wrangling
Data wrangling is just one of the tools to work with data. Also equally important is to have your expertise driving your data wrangling and analysis. As they say, **the workflow or tool must not contradict with science of the domain.** When we deliver or create tools or workflows, these must be guided with the principles of the industry that the tool will be used on/with. 

## Prerequisites

Before we start, you will need to have a basic knowledge of the following technologies

- [Python](https://www.python.org/)

## Primary Tool
The primary libraries or tools that we will be using are `pandas` and `matplotlib`. These libraries allow us to work and visualize with structured data. There are also a number of data wrangling tools and libraries supported by Python.

## Hands-on
For this tutorial, we will be using the data that we have scraped from the **web scraping** session. We will be creating a **static map** using containing the data GRDP.

### Import Libraries
We will import the `panas` and `matplotlib` libraries.

In [8]:
import pandas as pd
import matplotlib as plt
%matplotlib inline

### Reading Data
Pandas has a `read_csv` function which allows us to read csv files. This automatically converts the data into a `Dataframe`.

In [9]:
economics_data = pd.read_csv("data/wiki_economics.csv")

### Dataframes a way to process data
A dataframe is a 2-dimensional data structure which consists of rows and columns. *You can think for this as an excel spreadsheet.*

In [10]:
economics_data

,Region,"GRDP(PHP, thousands)","Agriculture(PHP, thousands)","Industry(PHP, thousands)","Services(PHP, thousands)",GRDP per capita(PHP)
0,Metro Manila,6.309291e+09,442597.0,1.230125e+09,5.078723e+09,462779.0
1,Cordillera,3.220939e+08,27045337.0,7.799072e+07,2.170578e+08,179752.0
2,Ilocos Region,6.297720e+08,104471256.0,1.922183e+08,3.330825e+08,120512.0
3,Cagayan Valley,3.976255e+08,103563850.0,1.156142e+08,1.784475e+08,109851.0
4,Central Luzon,2.177047e+09,231995441.0,9.509694e+08,9.940820e+08,179840.0
5,Calabarzon,2.861725e+09,154312287.0,1.445359e+09,1.262054e+09,181781.0
6,Mimaropa,3.770143e+08,64116478.0,1.254275e+08,1.874703e+08,120240.0
7,Bicol Region,5.603149e+08,85820150.0,2.025295e+08,2.719653e+08,92288.0
8,Western Visayas,9.163791e+08,144256702.0,1.944799e+08,5.776424e+08,116946.0
9,Central Visayas,1.266701e+09,79478668.0,3.421957e+08,8.450267e+08,161289.0
10,Eastern Visayas,4.656946e+08,61219158.0,1.819148e+08,2.225606e+08,99492.0
11,Zamboanga Peninsula,3.972066e+08,74695151.0,1.104676e+08,2.120438e+08,105798.0
12,Northern Mindanao,8.822044e+08,182955342.0,2.085802e+08,4.906689e+08,177998.0
13,Davao Region,9.220950e+08,149438384.0,2.334524e+08,5.392042e+08,176983.0
14,Soccsksargen,4.704225e+08,130802115.0,1.033211e+08,2.362993e+08,108561.0
15,Caraga,3.063085e+08,39908783.0,1.094640e+08,1.569357e+08,112489.0
16,Bangsamoro,2.545236e+08,87689432.0,6.319110e+07,1.036431e+08,55151.0

#### Accessing Data in Dataframes

To access a data in a dataframe, we can use the following methods:

- `iloc` - think of iloc as the row integer location or id 
- `loc` - think of loc as the row label location
- `df["<column-name>"]` - restricting the access to one column

In [11]:
ex_df = pd.DataFrame({'age':[30, 2, 12, 4, 32, 33, 69],
                   'color':['blue', 'green', 'red', 'white', 'gray', 'black', 'red'],
                   'food':['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese', 'Melon', 'Beans'],
                   'height':[165, 70, 120, 80, 180, 172, 150],
                   'score':[4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2],
                   'state':['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']
                   },
                  index=['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'])
ex_df

           age  color    food  height  score state
Jane        30   blue   Steak     165    4.6    NY
Nick         2  green    Lamb      70    8.3    TX
Aaron       12    red   Mango     120    9.0    FL
Penelope     4  white   Apple      80    3.3    AL
Dean        32   gray  Cheese     180    1.8    AK
Christina   33  black   Melon     172    9.5    TX
Cornelia    69    red   Beans     150    2.2    TX

In [25]:
ex_df.loc["Jane"]

# now try retrieving "Aaron"

          age  color   food  height  score state
Jane       30   blue  Steak     165    4.6    NY
Nick        2  green   Lamb      70    8.3    TX
Aaron      12    red  Mango     120    9.0    FL
Penelope    4  white  Apple      80    3.3    AL

In [13]:
ex_df.iloc[0]

# now try retrieving "Aaron" using iloc

age          30
color      blue
food      Steak
height      165
score       4.6
state        NY
Name: Jane, dtype: object

In [26]:
ex_df["age"]

# now try retrieving the "state" column

Jane         30
Nick          2
Aaron        12
Penelope      4
Dean         32
Christina    33
Cornelia     69
Name: age, dtype: int64

Back in our main example, `economics_data` will have the same `iloc` and `loc` uses.

### Statistics in Dataframes
Dataframes have built-in functions that allow to generate statistics like mean, standard deviation, max, min. We can use the `describe` function to generate these stats.  

**Note:** Describe only works with `numeric` data like integers and floats. Ensure that the data being "described" belong to these types.

In [14]:
economics_data.describe()

,"GRDP(PHP, thousands)","Agriculture(PHP, thousands)","Industry(PHP, thousands)","Services(PHP, thousands)",GRDP per capita(PHP)
count,1.700000e+01,1.700000e+01,1.700000e+01,1.700000e+01,17.000000
mean,1.148025e+09,1.013065e+08,3.463118e+08,7.004063e+08,150691.176471
std,1.505672e+09,5.898100e+07,4.261595e+08,1.175231e+09,88974.536284
min,2.545236e+08,4.425970e+05,6.319110e+07,1.036431e+08,55151.000000
25%,3.972066e+08,6.411648e+07,1.104676e+08,2.120438e+08,108561.000000
50%,5.603149e+08,8.768943e+07,1.922183e+08,2.719653e+08,120240.000000
75%,9.220950e+08,1.442567e+08,2.334524e+08,5.776424e+08,177998.000000
max,6.309291e+09,2.319954e+08,1.445359e+09,5.078723e+09,462779.000000

In [15]:
# if we want only a specific column
economics_data["GRDP(PHP, thousands)"].describe()

count    1.700000e+01
mean     1.148025e+09
std      1.505672e+09
min      2.545236e+08
25%      3.972066e+08
50%      5.603149e+08
75%      9.220950e+08
max      6.309291e+09
Name: GRDP(PHP, thousands), dtype: float64